:root{
  --colorA :#16304D;
  --colorB : #4c6892;
}
*{
-webkit-tap-highlight-color: transparent;
scroll-behavior: hidden;
user-select: none;
}
body{

	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	background-color:#323232;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
main{
	max-width: 100%;
	width: 100%;
	
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;	

}
.logo{
	
	display: flex;
	top: 7px;
	background-image: url(img/Msrc.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 60px;
	z-index: 4;
	left: 10px;
	position:absolute
	
}

/* ----HEADER---- */

header{
	top: 0;
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	background: #00000000;
	user-select: none;
	padding: 0;
	z-index: 9;
	margin: 0;
	
}


.editing{
	position: absolute;
	font-size: 14px;
	text-shadow:  0 0 3px #000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 6px;
	padding: .2rem;
	right: 20px;
	transition:all 1s;
	user-select: none;
	
}
.editor-controls{
	align-self: center;
	display: flex;
	position: relative;	
	width: 100%;
	height: 40px;
	flex-direction: row;
	border-radius: .3rem;
	background: #0000007c;
	align-items: center;
	justify-content: center;
	z-index: 6;
	margin: 0;
	gap: 50px;
	transition: all 1s;


}
.editor-controls .filemanagebtn{
	height: 30px;
	width: 30px;
user-select:none;

}



#header-content{
	width:100% ;
	display:flex; 
	flex-direction: row; 
height:fit-content;
	align-items: center
}
/* -------EDITOR------- */

textarea,pre,#lineNumbers{ 
	position: absolute;
	width:calc(100% - 60px);
	right: 5px;
	font-family:'fira code',monospace;
  font-size:10px;
	;text-align:left;
	white-space:pre;
	word-spacing:normal;
	word-break:break-word;
	word-wrap:break-word;
	line-height:15px;
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;hyphens:none;
	height:calc(100% - 70px);
display: flex;
	border-top: 1px solid #FFFFFF17;
	border-bottom: 1px solid #FFFFFF26;
	color: azure;
	resize: none;
	
	-webkit-tap-highlight-color: transparent;
	overflow-y: auto;
	margin:0;
	padding: 0;
	padding-top: 5px;
}
textarea{
	background: transparent;
	color: transparent;
	caret-color: rgb(78, 205, 255);
	border: none;
	background-color: transparent;
	outline: none;
	z-index: 2;
}
pre{	
  
	z-index: 1;
	user-select: none;
}
textarea,pre{
	padding-left: 20px;
}
#lineNumbers{
  color: #73A8E3;
  display: block;
  width: 40px;
  background: rgba(0, 0, 0, 0.24);
  text-align: center;
  left: 5px;
  z-index: 9;
  	border-right: 1px solid #FFFFFF14;
 
}
#lineNumbers span{
  margin-top: -1px;
  float: center;
  padding: 0 .7rem;
  border-bottom: solid .5px #F6F6F61F;
  opacity: .8 ;
}
.codebg{height:calc(100% - 10px);width:calc(100% - 10px);position: absolute;
	background-color: #242424;
	z-index: 0;
	border-radius: .2rem;
}

.lang{
	top: 0;
	width: calc(100% - 40px);
	height: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	color: rgb(27, 27, 27);
	border-radius: .2rem;
	padding: 2rem.8rem;
	box-shadow: inset 0 0 5px #00000016, 0 0 15px #00000016;
z-index: 7
}



iframe{
	padding: 0;margin: 0;
	width: 100%;
	
	outline: none;
	border: none;
	position: absolute;
	width:calc(100% - 10px);
height:calc(100% - 10px);
	resize: none;
	border-radius:.2rem ;
	-webkit-tap-highlight-color: transparent;
	overflow: auto;
	
} 
#fullEditor{
  overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4;
	margin: 0;
padding: 0;
margin-top: 45px;
background-color: #ffffff00;
}
.col{
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 10px;
	padding: .2rem;
}
#linesandcols{

		position: absolute;
		z-index: 15;
		color: azure;
		left: 10px;
		bottom: 7px;
		background-color: rgba(0, 0, 0, 0.234);
		border-radius: 2px;
		font-size: 8px;
		position: absolute;
		padding: 5px 10px;
	margin: 0;
	

}
#linesandcols span{
	color:rgb(128, 176, 255);
}
#linesandcols span:nth-last-of-type(1){
	padding-left: 15px;
}
div{
	margin: 0;
	padding: 0;
}
#fullEditor p{
width: 2rem;
height: fit-content;
color: #fff;
}
.html{
	display: flex;
	 background-color: rgb(255, 105, 41); 
}
.css{
	display: none;
	 background-color: rgb(0, 183, 255); 
}
.js{
	 background-color: rgb(255, 217, 0); 
	 display: none;
}
.preview{
	
	color: aliceblue;
	display: none;
	background-color: #4c6892; 
}

.html,.js,.css,.preview{
	outline: none;
	background-color: #04040457; 
	border: none;
}





#files-container{
	width:100% ;
	
gap: 10px;
	height:100% ;
	position: absolute;
	top: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	z-index: 10;
	opacity: 0;
	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.118);
	scroll-behavior: hidden;
	transition: opacity 1.3s;
	margin: 0;
	padding: 0;
}
.dialog--bg{
	width:90% ;
	max-width: 400px;
	height:80% ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	position: relative;
	border-radius: 15px;
	
	z-index: 1;

}
#files-container h1{
	font-size: 18px;
	color: #daebff;
	padding-top: 15px
}

h1{
	color: white;
}



#files-container h1, #files-container p{
	z-index: 3;
	text-align: center;
}
#files-container h1{
	font-size: 12px;
}
.show{
	opacity:1;
}





#previewdwn{
	background-image: url(img/ico-PREVIEW.svg);
}

#htmldwn{
  	background-image: url(img/ico-HTML.svg);
}
#cssdwn{	
  background-image: url(img/ico-CSS.svg);
}
#jsdwn{	
background-image: url(img/ico-JS.svg);  
opacity: 1

}



.buttons{
  
	display: flex;
	background-color: #000000;
	gap: .2rem;
	padding: .2rem;
}


.editing span{
	font-size: 10px;
}
.htext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: fit-content;
  background-color: rgba(53, 53, 53, 0.79);
  color: #fff;
  text-align: center;
  border-radius: 5px ;
  padding: 5px 8px;
  transition: opacity .5s ease-in-out;
	font-size: 10px;
  position: absolute;
  z-index: 5;
 top: 110%;

}

.htext:hover:before {
  opacity: 1;
  visibility: visible;
}

#files{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 90%;
	max-width: 400px;
	height: 70%;
	margin: 0;
padding-top: 1rem;
	gap: .5rem;
	background:#202020d4;
	box-shadow: inset 0 0 10px #ffffff1a,0 0 10px #00000070;
	color:rgb(232, 241, 248);
	z-index: 5;
	user-select: none;
	border-radius: .5rem;
	overflow-y: scroll;
text-align: left;

}
#files h2{
	font-size: 15px;
}
.file{
	display: flex;
	align-items: center;
	justify-content: center;
  border-bottom: .5px solid #ffffff29;
position: relative;
	margin: 0;
	border-radius: 4px;
	width: 300px;
	height: 20px;
	padding: 0.2rem;
	background:#b2c9e700;
	z-index: 5;
	transition: all .5s;
	
}


.file-name{
	font-size: 12px;
transition: all .5s;
width: 100%;

}
.file-date{
	font-size: 8px;
}
#files-container .file .file-date p{
	width: 70px;
	text-align: right;
	font-weight: bolder;
	margin-left: 10px;
	padding: 0 .5rem;

}
#files-container .file .file-name p{
	text-align: left;
	margin-left: 10px;
	font-weight: bolder;

}
#files-container .file .file-id p{
height: fit-content;
	text-align: center;
	
	padding:  0 .5rem;
	margin: 0;
	font-weight: bold;

}
#files-container .selected .file-name p, #files-container .selected .file-id p, #files-container .selected .file-date p{
	color: #C2DAFF;
}
.selected{
	background:rgba(1, 43, 86, 0.507);
	
	transform: scale(1.05);
}
::-webkit-scrollbar{
display: none;
	background: transparent;
}
::-webkit-scrollbar-track-piece{ display: none;}

.file-id{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	margin: 0;
  border-right: 1px solid #37669F;
	width: 30px;
	height: 30px;
text-shadow: 0 0 .5rem #80B8FC;
	font-weight: bolder;
	transform: scale(.7);
	

}
.tools{
	width: fit-content;
	color: #FFFFFF;
	height: fit-content;
	bottom: 5px;
	right:10px ;
	z-index: 29;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 7px;
	background:#292929;
	border-radius: 13px;
	padding: 5px;
	border: .5px solid #424242;
	
}
#colorpick{
	padding: 0;
	appearance: none;
	background: none;
	border: none;
}
#undo,#redo,#colorpick{
	width: 20px;
	height: 20px;
	border-right: .5px solid #424242;
	border-left: .5px solid #0d0d0d;
	border-radius: 50%;
}


#undo{
	background-image: url(img/ico-undo.svg);
}
#redo{
	background-image: url(img/ico-redo.svg);
}




@media (max-width: 600px) {
	.editor-controls{
		transform: scale(1);
	
	}

.file{width : 90%;}
}
.current-file{
  position: absolute;
  top: 5px;
  left:10px;
  width: calc(100% - 85px);
  background: #00000045;
  border-radius: 5px;
  z-index: 40;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #94B5E1;
  justify-content: flex-start;
}
.current-file span{
    font-size: 10px;

  border-right: .5px solid #9FC0F39C;
   padding: 0 10px;

}
.current-file .filename{
    font-size: 8px;

  color:#FFFFFF9C;
  border-right: none;
   padding: 0 3px;
}