
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: rgb(22, 48, 77);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
	width: 100%;
}
.logo{
	
	display: flex;
	top: 7px;
	background-image: url(img/Msrc.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 60px;
	z-index: 4;
	left: 10px;
	position:absolute
	
}

/* ----HEADER---- */

header{
	margin: 0;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 16px #00000054;
	position: fixed;
	border-radius: 0 0 .8rem .8rem;
	background: rgba(10, 10, 10, 0.345);
	user-select: none;

	z-index: 3;
	padding: 1rem;
}


.editing{
	font-size: 18px;

	width: 100px;
	height: fit-content;
	text-align: center;
	background-color: #00000054;
	border-radius: .5rem;
	padding: .2rem;
	margin: 0 .5rem 0 0 ;
}
.editor-controls{
	align-self: center;
	display: flex;
	width: 95%;
	height: fit-content;
	justify-content: center;
	border-radius: .5rem;
	background: #4c6892;
	align-items: center;
	justify-content: center;
	z-index: 6;
margin: 0;
top: 10px;
gap: 2%;
box-shadow:  0 0 15px rgba(110, 199, 255, 0.352),inset 0 0 15px rgba(3, 48, 90, 0.549);

	padding: .5rem;
	transform: scale(1);
}
#filename{
	font-size: 18px;
	border-radius: 4px;
	width: 80%;
	z-index: 3;
	background: #5881C26B;
  
		padding: .1rem 1rem;
		font-size: 10px;
		display:flex;
}
#header-content{
	width:100% ;
	display:flex; 
	flex-direction: column; 

	align-items: center
}
/* -------EDITOR------- */

textarea,pre{ 
	position: absolute;
	width:calc(100% - 2rem);
	
  font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:.8rem;
	;text-align:left;white-space:pre-wrap;word-spacing:normal;word-break:break-word;word-wrap:break-word;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;
	height:90%;
	
	
	color: azure;
	resize: none;
	border-radius:1rem ;
	-webkit-tap-highlight-color: transparent;
	overflow-y: auto;
  white-space: pre-wrap;
	padding: .5rem;
}
textarea{
	background: transparent;
	color: transparent;
	caret-color: white;
	background-color: transparent;
	outline: none;
	border: none;
	z-index: 2;
}
pre{	
	z-index: 1;
	user-select: none;
}
.codebg{height:calc(100% - 10px);width:calc(100% - 10px);position: absolute;
	background-color: #2d2d2d;
	z-index: 0;
	border-radius: 1rem;
}

.lang{
	top: 10px;
	width: 90%;
	height: 80vh;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	color: rgb(27, 27, 27);
	border-radius: 20px;
	padding: 2rem.8rem;

}



iframe{
	padding: 0;margin: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	position: absolute;
	width:calc(100% - 30px);
height:95%;
	resize: none;
	border-radius:1rem ;
	-webkit-tap-highlight-color: transparent;
	overflow: auto;
	
} 
#editor{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
margin: 0;

}
.col{
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 10px;
	padding: .2rem;
}
div{
	margin: 0;
	padding: 0;
}
#editor p{
width: 2rem;
height: fit-content;
color: #fff;
}
.html{
	display: flex;
	 background-color: rgb(255, 105, 41); 
}
.css{
	display: none;
	 background-color: rgb(0, 183, 255); 
}
.js{
	 background-color: rgb(255, 217, 0); 
	 display: none;
}
.preview{
	color: aliceblue;
	display: none;
	background-color: #4c6892; 
}

.html,.js,.css,.preview{
	outline: none;
	/*  */
	border: none;
}

#dialog{
	width:90% ;
	height:80% ;
	position: absolute;
	top: 130px;
	transform: scale(1);
	/* background:rgba(0, 26, 60, 0.552); */
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	gap:15px;
	z-index: 3;
	opacity: 0;
	scroll-behavior: hidden;
	transition: opacity 1.3s;
	margin: 0;
	padding: 0;
}
.dialog--bg{
	width:100% ;
	height:100% ;
	position: absolute;
	border-radius: 15px;
	background:#041730d9;
	backdrop-filter: blur(8px);
	
	box-shadow: 0 0 200px #000, inset 0 0 200px rgba(0, 0, 0, 0.508);
	z-index: 1;

}
#dialog h1{
	font-size: 18px;
}

h1{
	color: white;
}


.butons{
	z-index: 3;
  gap: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
#name{
	z-index: 3;
	display:none;
	background-color:white;
	outline: none;
	border: none;
	padding: .6rem .5rem;
	border-radius: .3rem
}
#dialog h1, #dialog p{
	z-index: 3;
	text-align: center;
}
#dialog h1{
	font-size: 15px;
}
.show{
	opacity:1;
}
.filemanagebtn{
	border-radius: 100%;
	background-color: rgba(1, 41, 72, 0.681);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	width: 40px;
	z-index: 4;
	transform: scale(.9);
	transition: all 1s;
	box-shadow: 0 0 8px #000000e3;
}
.filemanagebtn:hover{
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(105, 206, 252, 0.668);
}
#save{
	background-image: url(img/ico-guardar.svg);

}
#load{
	background-image: url(img/ico-cargar.svg);

}
#removeItem{
	background-image: url(img/ico-borrar.svg);

}
#new{
	background-image: url(img/ico-nuevo.svg);

}
#ok{
	background-image: url(img/ico-ok.svg);
	background-size: cover;
	transform: scale(1.2);
	margin: 0 10px 0 0;
}
#close{
	background-image: url(img/ico-cerrar.svg);
	background-size: cover;
		transform: scale(1.2);
			margin: 0 0 0 10px;
			position: absolute;
			top: -10px;
			right: -10px;


}
#layout{
	background-image: url(img/ico-layout.svg);

}
#remove{
	background-image: url(img/ico-borrartod.svg);

}
#download-code{
  z-index: 6;
  width: 250px;
  height: 250px;
  background: blue;
  position: absolute
}




#preview{
	background-image: url(img/ico-PREVIEW.svg);
}

#htmldwn{
  	background-image: url(img/ico-HTML.svg);
}
#cssdwn{	
  background-image: url(img/ico-CSS.svg);
}
#jsdwn{	
background-image: url(img/ico-JS.svg);  
opacity: 1

}

#download{
	background-image: url(img/ico-download.svg);
}
.buttons{
  
	display: flex;
	gap: 1rem;
	padding-right: 1rem;
}


.editing span{
	font-size: 10px;
}
.htext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
 width: fit-content;
  background-color: rgba(28, 52, 79, 0.79);
  color: #fff;
  text-align: center;
  border-radius: 5px ;
  padding: 5px 8px;
  transition: opacity .5s ease-in-out;
	font-size: 10px;
  position: absolute;
  z-index: 5;
 
	right:-22%;
  top: 118%;
}

.htext:hover:before {
  opacity: 1;
  visibility: visible;
}

#files{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 270px;
	height: 250px;
padding-top: 1rem;
	gap: .5rem;
	background:#DFE1EFE0;
	color:rgb(98, 190, 255);
	z-index: 5;
	user-select: none;
	border-radius: .5rem;
	overflow-y: scroll;
text-align: left;

}
#files h2{
	font-size: 15px;
}
.file{
	display: flex;
	align-items: center;
	justify-content: center;
  	box-shadow: 0 0 5px #FBFBFB00;
position: relative;
	margin: 0;
	border-radius: .5rem;
	width: 200px;
	height: 20px;
	padding: 0.2rem;
	padding-left: .5rem;
	background:rgb(0, 0, 0);
	z-index: 5;
	transition: all .5s;
	
}


.file-name-representation{
	font-size: 12px;

width: 100%;
}
#dialog .file .file-name-representation p{
	text-align: left;
	margin-left: 10px;

}
#dialog .file .file-id-representation p{
height: fit-content;
	text-align: center;
	margin-left: 10px;
	padding: 0;
	margin: 0;
}
.selected{
	background:rgb(1, 44, 86);
	box-shadow: 0 0 5px #6EAFFEE0;
	transform: scale(1.1);
}
::-webkit-scrollbar{
	width:10px;
	background: transparent;
}

.file-id-representation{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
	padding: 0;
	margin: 0;

background-color: #2d2d2d;
	width: 30px;
	height: 30px;

	color: #ffffff;
	font-weight: bolder;
	transform: scale(.7);
	

}
@media (max-width: 600px) {
	.editor-controls{
		transform: scale(.9);
	
	}
	.filemanagebtn{
		width: 30px;
		height: 30px;
		margin: 0;
	}
}
