:root{
  --colorA :#16304D;
  --colorB : #4c6892;
}
*{scroll-behavior: hidden}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	transition: background-color 3s;
	box-sizing: border-box;
	background: var(--colorA);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		scroll-behavior: hidden;

}
main{
	max-width: 100%;
	width: 100%;
	height: 100vh;
	overflow: hidden;
		scroll-behavior: hidden;
		

}
.logo{
	
	display: flex;
	top: 7px;
	background-image: url(img/Msrc.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 60px;
	z-index: 4;
	left: 10px;
	position:absolute
	
}

/* ----HEADER---- */

header{
	margin: 0;
	top: 0;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* box-shadow: inset 0 0 5px #ffffff2d, 0 0 25px #000000D6; */
	position: fixed;
	border-radius: 0 0 .8rem .8rem;
	background: #00000000;
	user-select: none;
padding: 0;
	z-index: 3;
	margin: 0;
	padding-top: .7rem;
}


.editing{
	font-size: 15px;
box-shadow: inset 7px 7px 15px rgba(0, 0, 0, 0.153), 7px 7px 15px rgba(255, 255, 255, 0.094);
	width: 70px;
	height: fit-content;
	text-align: center;
	text-shadow: 0 0 12px #fff;
	background-color: #00000054;
	border-radius: .5rem;
	padding: .2rem;
	margin: 0 .5rem 0 0 ;
}
.editor-controls{
	align-self: center;
	display: flex;
	max-width: 90%;
	width: 500px;
	justify-content: center;
	border-radius: .3rem;
	background: #222222;
	align-items: center;
	justify-content: center;
	z-index: 6;
margin: 0;
top: 10px;
gap: 2%;
box-shadow:  0 0 10px #0000006d,inset 0 0 30px #000000d6;
transition: all 1s;
	padding: .5rem;
	transform: scale(.8);
}
.editor-controls .filemanagebtn{
	height: 30px;
	width: 30px;

}

#filename{
	font-size: 18px;
	border-radius: 4px;
	z-index: 3;
	background: #000000;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.889);
		padding: .1rem 1rem;
		font-size: 10px;
		display:flex;
	max-width: 80%;
	width: 480px;

}
#header-content{
	width:100% ;
	display:flex; 
	flex-direction: column; 
height:fit-content;
	align-items: center
}
/* -------EDITOR------- */

textarea,pre{ 
	position: absolute;
	width:calc(100% - 2rem);
	
  font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:.8rem;
	;text-align:left;white-space:pre-wrap;word-spacing:normal;word-break:break-word;word-wrap:break-word;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;
	height:90%;
	
	
	color: azure;
	resize: none;
	border-radius:.2rem ;
	-webkit-tap-highlight-color: transparent;
	overflow-y: auto;
  white-space: pre-wrap;
	padding: .5rem;
}
textarea{
	background: transparent;
	color: transparent;
	caret-color: white;
	background-color: transparent;
	outline: none;
	border: none;
	z-index: 2;
}
pre{	
	z-index: 1;
	user-select: none;
}
.codebg{height:calc(100% - 10px);width:calc(100% - 10px);position: absolute;
	background-color: #242424;
	z-index: 0;
	border-radius: .2rem;
}

.lang{
	top: 0px;
	width: 90%;
	height: 80%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	color: rgb(27, 27, 27);
	border-radius: .2rem;
	padding: 2rem.8rem;
	box-shadow: inset 0 0 5px #000, 0 0 15px #000;
z-index: 7
}



iframe{
	padding: 0;margin: 0;
	width: 100%;
	
	outline: none;
	border: none;
	position: absolute;
	width:calc(100% - 10px);
height:calc(100% - 10px);
	resize: none;
	border-radius:.2rem ;
	-webkit-tap-highlight-color: transparent;
	overflow: auto;
	
} 
#editor{
  overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4;
margin: 0;
padding: 0;
background-color: #ffffff00;
}
.col{
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 10px;
	padding: .2rem;
}
div{
	margin: 0;
	padding: 0;
}
#editor p{
width: 2rem;
height: fit-content;
color: #fff;
}
.html{
	display: flex;
	 background-color: rgb(255, 105, 41); 
}
.css{
	display: none;
	 background-color: rgb(0, 183, 255); 
}
.js{
	 background-color: rgb(255, 217, 0); 
	 display: none;
}
.preview{
	color: aliceblue;
	display: none;
	background-color: #4c6892; 
}

.html,.js,.css,.preview{
	outline: none;
		background-color: #07091F; 

	border: none;
}




.dialogbox{
	width:100% ;
	height:100% ;
	position: absolute;
	top: 150px;
	
	/* background:rgba(0, 26, 60, 0.552); */
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	z-index: 5;
	opacity: 0;
	scroll-behavior: hidden;
	transition: opacity 1.3s;
	margin: 0;
	padding: 0;
}
.confirm_dialog{
	
}
#dialog{
	width:100% ;
	max-width: 400px; 
gap: 10px;
	height:100VH ;
	position: absolute;
	top: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	z-index: 5;
	opacity: 0;
	backdrop-filter: blur(7px);
	background-color: rgba(255, 255, 255, 0.219);
	scroll-behavior: hidden;
	transition: opacity 1.3s;
	margin: 0;
	padding: 0;
}
.dialog--bg{
	width:90% ;
	max-width: 400px;
	height:80% ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	position: relative;
	border-radius: 15px;
	background:#234075D1;
	backdrop-filter: blur(4px);
	/* border:10px solid #20335F; */
	box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.708),  0 0 100px rgba(0, 0, 0, 0.289);
	z-index: 1;

}
#dialog h1{
	font-size: 18px;
	color: #daebff;
	padding-top: 15px
}

h1{
	color: white;
}



#name{
	
}
#dialog h1, #dialog p{
	z-index: 3;
	text-align: center;
}
#dialog h1{
	font-size: 15px;
}
.show{
	opacity:1;
}
.filemanagebtn{
	border-radius: 100%;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	width: 40px;
	z-index: 4;
	/*transform: scale(.9);*/
	transition: all 1s;
	position: relative
}
.filemanagebtn:hover{
	transform: scale(1.1);
	box-shadow: 0 0 20px rgba(105, 206, 252, 0.668);
}
#save{
	background-image: url(img/ico-guardar.svg);
	box-shadow:none;
	background-color:transparent;

}
#load{
	background-image: url(img/ico-cargar.svg);
	box-shadow:none;
	background-color:transparent;

}
#removeItem{
	background-image: url(img/ico-borrar.svg);
	box-shadow:none;
	background-color:transparent;

}
#new{
	background-image: url(img/ico-nuevo.svg);

}
#dialog #ok  {

	 background-image: url(img/ico-ok.svg);
	background-size: cover;
	width: 200px;
	height: fit-content;
	margin: 0;
	padding:.2rem 0;
	border-radius: .3rem;
	margin-bottom: 10%;

}
#close{
	background-image: url(img/ico-cerrar.svg);
	background-size: cover;
		transform: scale(1.2);
			margin: 0 0 0 10px;
			position: absolute;
			top: -10px;
			right: -10px;


}
#layout{
	background-image: url(img/ico-layout.svg);

}
#remove{
	background-image: url(img/ico-borrartod.svg);
	box-shadow:none;
	background-color:transparent;

}
#download-code{
  z-index: 6;
  width: 250px;
  height: 250px;
  background: blue;
  position: absolute
}




#preview{
	background-image: url(img/ico-PREVIEW.svg);
}

#htmldwn{
  	background-image: url(img/ico-HTML.svg);
}
#cssdwn{	
  background-image: url(img/ico-CSS.svg);
}
#jsdwn{	
background-image: url(img/ico-JS.svg);  
opacity: 1

}

#download{
	background-image: url(img/ico-download.svg);
}
#dialog .filemanagebtn:not(#ok){
  transform: scale(1);
	width: 40px;
	height: 40px;
	z-index: 6;
	background-color: rgba(2, 19, 44, 0.407);

}
#dialog .filemanagebtn:hover{
  transform: scale(1.1);
	backdrop-filter: brightness(120%);
	background-color: rgba(2, 19, 44, 0.407);
}
.buttons{
  
	display: flex;
	gap: 1rem;
}


.editing span{
	font-size: 10px;
}
.htext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: fit-content;
  background-color: rgba(28, 52, 79, 0.79);
  color: #fff;
  text-align: center;
  border-radius: 5px ;
  padding: 5px 8px;
  transition: opacity .5s ease-in-out;
	font-size: 10px;
  position: absolute;
  z-index: 5;
 top: 110%;

}

.htext:hover:before {
  opacity: 1;
  visibility: visible;
}

#files{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 90%;
	max-width: 400px;
	height: 70%;
	margin: 0;
padding-top: 1rem;
	gap: .5rem;
	background:#00143BD4;
	box-shadow: inset 0 0 100px #000000C4,0 0 10px #00000088;
	color:rgb(98, 190, 255);
	z-index: 5;
	user-select: none;
	border-radius: .5rem;
	overflow-y: scroll;
text-align: left;

}
#files h2{
	font-size: 15px;
}
.file{
	display: flex;
	align-items: center;
	justify-content: center;
  	box-shadow: 0 0 5px #00000087;
position: relative;
	margin: 0;
	border-radius: .5rem;
	width: 300px;
	height: 20px;
	padding: 0.2rem;
	background:#B2C9E7E0;
	z-index: 5;
	transition: all .5s;
	
}


.file-name-representation{
	font-size: 12px;
transition: all .5s;
width: 100%;
text-shadow: 0 0 .5rem #80B8FC;

}
.file-date-representation{
	font-size: 8px;
}
#dialog .file .file-date-representation p{
	width: 70px;
	text-align: right;
	color: #174B9D;
	font-weight: bolder;
	margin-left: 10px;
	padding: 0 .5rem;

}
#dialog .file .file-name-representation p{
	text-align: left;
	color: #174B9D;
	margin-left: 10px;
	font-weight: bolder;

}
#dialog .file .file-id-representation p{
height: fit-content;
	text-align: center;
	
	padding:  0 .5rem;
	margin: 0;
	font-weight: bolder;

}
#dialog .selected .file-name-representation p, #dialog .selected .file-id-representation p, #dialog .selected .file-date-representation p{
	color: #C2DAFF;
}
.selected{
	background:rgba(1, 43, 86, 0.507);
	box-shadow: 0 0 5px #6EAFFEE0;
	transform: scale(1.05);
}
::-webkit-scrollbar{
	width:10px;
	background: transparent;
}

.file-id-representation{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	margin: 0;
  border-right: 1px solid #37669F;
	width: 30px;
	height: 30px;
text-shadow: 0 0 .5rem #80B8FC;
	color: #174B9D;
	font-weight: bolder;
	transform: scale(.7);
	

}





@media (max-width: 600px) {
	.editor-controls{
		transform: scale(1);
	
	}
	.filemanagebtn{
		width: 40px;
		height: 40px;
		margin: 0;
	}
.file{width : 90%;}
}
