.uiElement{
  position: absolute;
  z-index:8;
}
/* CONFIEM DIALOG */
.dialog{
  z-index:7;
  background-color:rgba(213, 213, 213, 0.881);
  box-shadow: inset 0 0 15px rgba(82, 133, 199, 0.379),; 
  border: 1px solid #7ed4ff77;
  backdrop-filter: blur(3px);
  width:200px;
  height:150px;
  transform:scale(.7); 
  border-radius:12px; 
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dialog-head{
  background:#23344c;
  box-shadow:inset 0 0 7px #00143BD4,0 0 7px #00143BD4;
  width:190px;
  height:22px; 
  left:5px;
  top:5px; 
  color: #CDD7F0;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius:7px 7px 4px 4px; 
}
.dialog-head p{
  position: absolute;
  font-size: 10px;
}
#dialog-message{
  display: flex;
  flex-direction: column;
font-size: 12px;
text-align: center;
font-weight: 400;
width: 80%;
top: 20px;
}
#dialog-message p{
  position: absolute;
  font-size: 15px;
  font-weight: 200;

}
#dialog-message .date{
  font-size: 6px;
  color: #314990;
  font-weight: 700;
  width: 100%;
  text-align: right
}
#dialog-message .warning{
  position: absolute;
  font-size: 8px;
  font-weight: 500;
  color: #F03434;
  bottom: -50px;
}
#name{
  position: absolute;
  left: -5px;
  bottom: 10px;
	background-color:white;
	outline: none;
  font-size: 15px;
	border: none;
	padding: .2rem .5rem;
  width: 75%;
	border-radius: .3rem
}
.after_action_dialog{

  color: #23344c;
  width: 150px;
  height: fit-content;
padding: .5rem;
  background: #D5ECFFE3;
  text-align: center;
  font-size: 8px;
  border-radius: 8px;
  bottom: 100px;
}
.after_action_dialog .showmsj{
  opacity: 1;
  transform: translateX(0)
}

/* END CONFIEM DIALOG */


.buttons{
  right: -25px;
	display: flex;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000034;
	background-color: #02253fab;
	gap: .2rem;
	padding: .2rem;
  transform: scale(.7);
  z-index: 12;
}
#ok-btn{
  background-image: url(img/ico-ok.svg);
	background-size: contain;
  background-repeat: no-repeat; 
  width: 40px;
  height: 40px;
bottom: 4px;
right: 4px;

}
#save{
	background-image: url(img/ico-guardar.svg);
	box-shadow:none;
}
#load{
	background-image: url(img/ico-cargar.svg);
	box-shadow:none;
}
#removeItem{
	background-image: url(img/ico-borrar.svg);
	box-shadow:none;
}
#new{
	background-image: url(img/ico-nuevo.svg);

}
#filemenu{
	background-image: url(img/ico-layout.svg);
}
#close{
	background-image: url(img/ico-cerrar.svg);
	background-size: cover;
		transform: scale(1.2);
			margin: 0 0 0 10px;
			position: absolute;
			top: -10px;
			right: -10px;


}
#layout{
	background-image: url(img/ico-layout.svg);
}
#remove{
	background-image: url(img/ico-borrartod.svg);
	box-shadow:none;
}
#download-code{
  z-index: 6;
  width: 250px;
  height: 250px;
  background: blue;
  position: absolute
}
.filemanagebtn{
  /* background-color: #000000ba; */
	border-radius: 100%;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	height: 25px;
	width: 25px;
	/*transform: scale(.9);*/
	transition: all 1s;
	position: relative
}
.filemanagebtn:hover{
	transform: scale(1.1);
	box-shadow: 0 0 20px rgba(105, 178, 252, 0.76);
}