.uiElement{
  position: absolute;
  z-index:8;
}
.ui-btn{
 
}
.dialog{
  z-index:7;
  background-color:rgba(213, 213, 213, 0.881);
  box-shadow: inset 0 0 15px rgba(82, 133, 199, 0.379), 0 0 100px #69c5ff; 
  border: 1px solid #7ed4ff77;
  backdrop-filter: blur(3px);
  width:200px;
  height:150px;
  transform:scale(1.4); 
  border-radius:12px; 
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dialog-head{
  background:#4c689242;
  box-shadow:inset 0 0 7px #4c6892c2;
  width:190px;
  height:22px; 
  left:5px;
  top:5px; 
  border-radius:7px 7px 4px 4px; 
}
#dialog-message{
font-size: 15px;
text-align: center;
top: 20px;
}
#ok-btn{
  background-image: url(img/ico-ok.svg);
	background-size: contain;
  background-repeat: no-repeat; 
  width: 40px;
  height: 40px;
bottom: 4px;
right: 4px;

}
#showbtn{ 
  
    top:10px;
    right:10px; 
    border-radius:50%;  
    width:20px;
    height:20px;
}